/* font */

.wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.section {
  position: relative;
  height: 100vh;
  border-bottom: solid 10px #fff;
  background-color: #000000;
  color: #fff;
}
/* .section1{
  position: relative;
  border-bottom: solid 10px #000000;
  background-color: #000000;
  color: #fff;
} */
.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(60, 55, 55, 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
  font-family: "Work Sans", sans-serif;
  color: #000000;
}
.header a {
  color: #000000;
}
.header a:hover {
  color: #fff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0.9;
}

.slide-up {
  transform: translateY(-100%);
}

.menu {
  position: relative;
  z-index: 999;
  width: 952px;
  height: 37px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 45%;
}
.menu :hover {
  color: #fff;
}
.home {
  position: relative;
  display: flex;
}

.bg {
  position: relative;
  width: 500px;
  height: 500px;
  padding-top: 500px;
  border: none solid transparent;
}

.one {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 350px;
  margin-left: 250px;
  background-color: #000000;
  border-radius: 50%;
  box-shadow: 0 0 20px, 20px 0 80px #f0f, -20px 0 80px #0ff, inset 0 0 50px #fff,
    inset -50px 0 80px #f0f, inset 50px 0 80px #0ff, inset -50px 0 300px #f0f,
    inset 50px 0 300px #0ff;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ment {
  position: relative;
  margin-top: 420px;
  margin-left: 170px;
  text-align: center;
}

.irregular-blink {
  color: #e0e0e0;
  font-size: 100px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  animation: neon-flicker 1.5s infinite alternate;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c718c7, 0 0 40px #291829,
    0 0 40px #420394, 0 0 50px #271827, 0 0 60px #3cff00;
}
/* h2 {
  position: absolute;
  color: #000000;
  z-index: 1;
  font-family: "Work Sans", sans-serif;
  font-size: 80px;
  letter-spacing: -10px;
  font-weight: 400;
  top: 520px;
  left: 300px;
} */
/* 텍스트 효과 */
.irregular-blink {
  text-transform: uppercase;
  animation: flicker-animation 8s infinite;
}

@keyframes flicker-animation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  74% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 텍스트 효과 끝 */
.section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.section1 {
  display: flex;
  justify-content: space-between;
}
.section1-1 {
  position: relative;
  /* width: 1550px; */
  height: 490px;
  /* top: -10%; */
  margin-left: 200px;
}
.proprofile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 367px;
  height: 83px;
  margin-top: 100px;
  position: relative;
  text-align: center;
}

.mainment {
  position: relative;
  margin-top: 150px;
}

.typewriter {
  font-size: 80px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: fit-content;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.point {
  margin: 0;
}
.subment {
  position: relative;
  font-size: 30px;
}
.index {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 200px;
  font-size: 32px;
  margin-left: 100px;

  top: 20%;
  left: -85px;
}
.index p {
  font-weight: 600;
}
.skill {
  position: relative;
  line-height: 90px;
}
.skill p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.contct p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact {
  position: relative;
  line-height: 90px;
}
.call {
  position: relative;
  margin-top: 20px;
}

.section1-2 {
  position: relative;
}
.section1-2 img {
  position: relative;
  margin-top: 200px;
  margin-right: 185px;
}

/* work page */
.section3 {
  height: 260vh;
  background-color: black;
  color: #fff;
  padding-top: 123px;
}
.content {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 160px;
  padding: 0 220px;
}
.one1 {
  position: relative;

  width: 254px;
  height: 254px;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff;
  /* animation: rotate 10s linear infinite; */
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.work {
  position: absolute;
  font-size: 60px;
  text-align: center;
  transform: translateX(35px) translateY(70px);
}
.coding {
  margin-top: 160px;
}
.mycontents {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 160px;
  /* margin-left: 220px; */
  gap: 100px;
}
.mycontents span {
  font-size: 50px;
  font-weight: 800;
  margin-left: 300px;
}
.websubmenu,
.appsubmenu,
.codingsubmenu,
.designsubmenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #000000;
}
.designsubmenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #000000;
  gap: 30px;
}
.websubmenu li,
.appsubmenu li,
.codingsubmenu li {
  position: relative;
  width: 486px;
  height: 276px;
}

/* .websubmenu img:hover.title .btg {
  display: block;
} */
.app {
  position: relative;
  top: 50px;
}
.coding {
  position: relative;
  top: -50px;
}
.design {
  position: relative;
  top: 30%;
}

/* 이미지 호버시 */
.hidden-content {
  display: none;
}
.websubmenu li,
.appsubmenu li,
.codingsubmenu li {
  position: relative;
  overflow: hidden;
}
.websubmenu li:hover .hidden-content,
.appsubmenu li:hover .hidden-content,
.codingsubmenu li:hover .hidden-content {
  display: block;
}

.websubmenu img,
.appsubmenu img,
.coddingsubmenu img {
  display: block;
  transition: all 0.3s ease; /* 이미지 트랜지션 추가 */
}

.websubmenu li:hover img,
.appsubmenu li:hover img,
.codingsubmenu li:hover img {
  filter: brightness(0.5);
  transform: scale(0.9);
}
.title {
  position: absolute;
  z-index: 3;
  top: 28%;
  font-size: 20px;
  left: 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#veganiety {
  left: 42%;
}
#angrymong {
  left: 34%;
}
#booking {
  left: 36%;
}
#witta {
  left: 36%;
}
#anichem {
  left: 43%;
}
#kakao {
  left: 36%;
}

.btg {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
}

.websubmenu li:hover .title,
.websubmenu li:hover .btg,
.appsubmenu li:hover .title,
.appsubmenu li:hover .btg,
.codingsubmenu li:hover .title,
.codingsubmenu li:hover .btg {
  opacity: 1;
}

.button {
  width: 97px;
  height: 32px;
  background-color: #000000;
  border-radius: 20px;
}

.btg {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btg a {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 5px;
}
